.orbit-icon {
  vertical-align: text-bottom;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 1px;
}

.no-hover,
.no-hover:hover {
  color: rgb(88, 96, 105) !important;
  background-color: inherit !important;
}
