.orbit-icon {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
}

.no-hover,
.no-hover:hover {
  color: rgb(88, 96, 105) !important;
  background-color: inherit !important;
}
